<h1>{{player.name}}</h1>
<p>
  <mat-list>
    <mat-list-item> <button mat-flat-button color="primary" (click)="addScore(0)">Add Try</button> </mat-list-item>
    <mat-list-item> <button mat-flat-button color="primary" (click)="addScore(1)">Add Penalty</button> </mat-list-item>
    <mat-list-item> <button mat-flat-button color="primary" (click)="addScore(2)">Add Conversion</button> </mat-list-item>
    <mat-list-item> <button mat-flat-button color="accent" (click)="addCard(0)">Add Yellow</button> </mat-list-item>
    <mat-list-item> <button mat-flat-button color="warn" (click)="addCard(0)">Add Red</button> </mat-list-item>
  </mat-list> 
</p>
