<form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Player" aria-label="Player" [matAutocomplete]="auto" [formControl]="playerFormCtrl" (focus)="onFocus()">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let player of filteredPlayers | async; let idx = index" [value]="player.name" (onSelectionChange)="optionSelected(idx, $event, player)">
          <span>{{player.name}}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
</form>
<mat-grid-list cols="3" rowHeight="2.5em">
  <mat-grid-tile *ngFor="let player of fixture.squad;let idx = index">
    <mat-chip-list>
      <mat-chip [removable]="true" (removed)="remove(player)">
        {{idx + 1}} - {{player?.player?.name}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <mat-chip [ngStyle]="{ backgroundColor: showHooker(idx, player) }" (click)="updateSubHooker(idx, player)">h</mat-chip>
      <mat-chip [ngStyle]="{ backgroundColor: showProp(idx, player, 1) }" (click)="updateSubProp(idx, player)" [disabled]="propsAlreadyChosen(1)">p1</mat-chip>
      <mat-chip [ngStyle]="{ backgroundColor: showProp(idx, player, 2) }" (click)="updateSubProp(idx, player)" [disabled]="propsAlreadyChosen(2)">p2</mat-chip>
    </mat-chip-list>
    
  </mat-grid-tile>
</mat-grid-list>


